// THEME COLORS
$primary: #202124;
$blue: #1a73e8;
$blue-hover: #174ea6;
$red: #d50000;
$red-text: #d93025;
$textButton: #3c4043;
$heroBg: #f1f3f4;
$footerBg: #f8f9fa;
$authText: #757575;
$headerBorder: #dadce0;

// TEXT COLORS

// VERIENTS
$gray-50: #FAFAFA;
$gray-200: #EDF2F7;
$gray-300: #E2E8F0;
$gray-400: #CBD5E0;
$gray-600: #718096;
$gray-700: #4A5568;
$gray-700: #2D3748;
$gray-800: #2D3748;

$placeholderText: #5f6368;
$buttonFocus: #E1E1E1;
$btnHover: rgba(60, 64, 67, 0.039);

// NORMAL COLORS
$black: black;
$white: white;

$border-1: #dadce0;

// SHADOWS
$shadow-1: rgba(60, 64, 67, 0.3);
$shadow-2: rgba(60, 64, 67, 0.15);
$shadow-3: rgba(65, 69, 73, 0.3);
$shadow-4: rgba(65, 69, 73, 0.15);
$searchHover: rgba(60, 64, 67, 0.08);

$boxshadow-1: 0 .0625rem .125rem 0 $shadow-1, 0 .0625rem .1875rem .0625rem $shadow-2;
$searchshadow: 0 .0625rem .0625rem 0 $shadow-3,
0 .0625rem .1875rem .0625rem $shadow-4;
$btnshadow: 0 .0625rem .1875rem 0 $shadow-1,
0 .25rem .5rem .1875rem $shadow-2;
// $btnhovershadow: 0px 1px 3px 0px rgb(60 64 67 / 30%),
// 0px 4px 8px 3px rgb(60 64 67 / 15%);