// THEME COLORS
$primary: #202124;
$blue: #1a73e8;
$blue-hover: #174ea6;
$red: #d50000;
$red-text: #d93025;
$textButton: #3c4043;
$heroBg: #f1f3f4;
$footerBg: #f8f9fa;
$authText: #757575;

// TEXT COLORS

// VERIENTS
$gray-50: #FAFAFA;
$gray-200: #EDF2F7;
$gray-300: #E2E8F0;
$gray-400: #CBD5E0;
$gray-600: #718096;
$gray-700: #4A5568;
$gray-700: #2D3748;
$gray-800: #2D3748;

$placeholderText: #5f6368;
$btnHover: rgba(60, 64, 67, 0.039);

// NORMAL COLORS
$black: black;
$white: white;

$border-1: #dadce0;

// SHADOWS
$shadow-1: rgba(60, 64, 67, 0.3);
$shadow-2: rgba(60, 64, 67, 0.15);

$boxshadow-1: 0 1px 2px 0 $shadow-1, 0 1px 3px 1px $shadow-2;